:root {
  --theme: #b4befe;
  --background: #1e1e2e;
  --color: #cdd6f4;
}

* {
  color-scheme: dark;
}

html, body {
  background: var(--background);
  color: var(--color);
  font-family: sans-serif;

  margin: 0;
  padding: 0;
}

dialog {
  margin: auto 1rem;
  border-radius: 1rem;
  background: var(--background);
  color: var(--color);
  border-color: var(--theme);
}

nav {
  background: var(--theme);
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

hr {
  border-color: #6c7086;
}

input[type=text] {
  display: block-inline;
  width: 100%;
  padding: .75rem 2.25rem;
  font-size: .75rem;
  line-height: 1.5;
  border-radius: 5vh;
  border: 2px solid #888fbf;
  outline: none;
  transition: border 250ms ease;
  background: #888fbf;
  color: #1e1e2e;
}
input[type=text]::placeholder {
  color: #313244;
}
input[type=text]:focus {
  border: 2px solid var(--color);
}

.search-form {
  margin: auto .5rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.search-form::before {
  display: block;
  position: absolute;
  content: '\e8b6';
  font-family: 'Material Symbols Outlined';
  font-size: 18px;
  color: #1e1e2e;
  margin-left: .75rem;
}

input[type=submit], button {
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  line-height: 1.5;
  padding: .1875rem .375rem;
  background: #585b70;
  color: #cdd6f4;
  font-size: .75rem;
  border: 1px solid #6c7086;
  border-radius: .25rem;
}

.appimg {
  float: left;
  border-radius: 1vh;

  -webkit-clip-path: path('M32 64c14.016 0 21.824 0 26.912-5.088C64 53.824 64 46.016 64 32s0-21.824-5.088-26.912C53.824 0 46.016 0 32 0S10.176 0 5.088 5.088C0 10.176 0 17.984 0 32s0 21.824 5.088 26.912C10.176 64 17.984 64 32 64z');
  -moz-clip-path: path('M32 64c14.016 0 21.824 0 26.912-5.088C64 53.824 64 46.016 64 32s0-21.824-5.088-26.912C53.824 0 46.016 0 32 0S10.176 0 5.088 5.088C0 10.176 0 17.984 0 32s0 21.824 5.088 26.912C10.176 64 17.984 64 32 64z');
  -o-clip-path: path('M32 64c14.016 0 21.824 0 26.912-5.088C64 53.824 64 46.016 64 32s0-21.824-5.088-26.912C53.824 0 46.016 0 32 0S10.176 0 5.088 5.088C0 10.176 0 17.984 0 32s0 21.824 5.088 26.912C10.176 64 17.984 64 32 64z');
  -ms-clip-path: path('M32 64c14.016 0 21.824 0 26.912-5.088C64 53.824 64 46.016 64 32s0-21.824-5.088-26.912C53.824 0 46.016 0 32 0S10.176 0 5.088 5.088C0 10.176 0 17.984 0 32s0 21.824 5.088 26.912C10.176 64 17.984 64 32 64z');
  clip-path: path('M32 64c14.016 0 21.824 0 26.912-5.088C64 53.824 64 46.016 64 32s0-21.824-5.088-26.912C53.824 0 46.016 0 32 0S10.176 0 5.088 5.088C0 10.176 0 17.984 0 32s0 21.824 5.088 26.912C10.176 64 17.984 64 32 64z');
}

.big-btn {
  font-size: 1rem;
  padding: .375rem .750rem;
  display: flex;
  align-items: center;
  border-radius: 5vh;
}
.big-btn > * {
  margin: auto .2rem;
}

main {
  margin: .5rem;
}

.vlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.back {
  cursor: pointer;
  padding: .25rem;
  border: 1px solid var(--color);
  border-radius: .5vh;
}

.tabs {
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background: #45475a;
  border-bottom: 2px solid #111;
}
.tabs > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.tabs > div > * {
  margin: .1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 1rem;
}
.switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch-span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #313244;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: .5rem;
}
.switch-span:before {
  position: absolute;
  content: "";
  height: .8rem;
  width: .8rem;
  left: .1rem;
  bottom: .1rem;
  background: #585b70;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
.switch-input:checked + .switch-span {
  background: #89b4fa;
}
.switch-input:focus + .switch-span {
  box-shadow: 0 0 1px #333;
}
.switch-input:checked + .switch-span:before {
  background: #eee;
  -webkit-transform: translateX(.9rem);
  -ms-transform: translateX(.9rem);
  transform: translateX(.9rem);
}

/* Source: Bootstrap */
select {
  display: block;
  width: 100%;
  padding: .375rem 2.25rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #313244;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23adb5bd' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: 1px solid var(--color);
  border-radius: .375rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.new {
  padding: 1rem;
}
